<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="assets/css/custom_dropdown.css" th:href="@{/assets/css/custom_dropdown.css}" rel="stylesheet"/>
</head>
<body>
<form th:fragment="car-form" id="contactForm" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${car}"
      method="post">

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{car.label.vin_clean}">Vin</h2>
            <input class="form-control" id="vin" type="text" th:field="*{vin}"
                   placeholder="Enter Vin Here" required="required"
                   data-validation-required-message="Please enter Vin."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{vin}">Name error placeholder</h6>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{car.label.registration_clean}">Registration</h2>
            <input class="form-control" id="registration" type="text" th:field="*{regNumber}"
                   placeholder="Enter Registration Number Here" required="required"
                   data-validation-required-message="Please enter Registration Number."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{regNumber}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{car.label.model_clean}">Model</h2>
            <input class="form-control" id="model" type="text" th:field="*{model}"
                   placeholder="Enter Model Here" required="required"
                   data-validation-required-message="Please enter Model."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{model}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{car.label.manufacturer_clean}">Manufacturer</h2>
            <input class="form-control" id="manufacturer" type="text" th:field="*{manufacturer}"
                   placeholder="Enter Manufacturer Here" required="required"
                   data-validation-required-message="Please enter Manufacturer."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{manufacturer}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{car.label.user-id_clean}">User ID</h2>
            <select class="custom-dropdown big" th:field="*{userId}" th:placeholder="User">
                <option th:each="user : ${users}"
                        th:value="${user.getId()}"
                        th:text="${user.getFullName()}">
                    User
                </option>
            </select>
            <h6 class="error" th:errors="*{userId}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <br/>
    <div id="success"></div>
    <div class="form-group">
        <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button>
    </div>
</form>
</body>
</html>