<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" th:href="@{/assets/img/favicon.png}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css"
          th:href="@{/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css"
          th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css"
          th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css"
          th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css"
          th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" th:href="@{/assets/css/style.css}" rel="stylesheet">

    <link href="assets/css/forbidden.css" th:href="@{/assets/css/forbidden.css}" rel="stylesheet" />
</head>
<body>
<nav id="navbar" class="navbar">
    <ul>
        <li><a href="/" th:text="#{navigation.home}">Home</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->

<div id="app">
    <div class="ghost">

        <div class="ghost--navbar"></div>
        <div class="ghost--columns">
            <div class="ghost--column">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="ghost--column">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="ghost--column">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>

        </div>
        <div class="ghost--main">
            <div class="code"></div>
            <div class="code"></div>

        </div>

    </div>

    <h1 class="police-tape police-tape--1" th:text="${error}">
    </h1>
    <h1 class="police-tape police-tape--2">Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
</div>
</body>
</html>