<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgotten Password</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="assets/css/login-style.css" th:href="@{/assets/css/login-style.css}">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Forgotten Password</h3>
            </div>
            <div th:if="${error != null}"></div>
                <p class="text-danger">[[${error}]]</p>
            <div class="card-body">
                <form th:action="@{/forgotten_password}" method="post">
                    <div>
                        <p class="text-center" style="color: #fff;">We will be sending you a reset password link to your e-mail. </p>
                    </div>
                    <div>
                       <p>
                           <input type="email" name="email" class="form-control" placeholder="Enter your e-mail">
                       </p>
                        <p class="text-center">
                         <input type="submit" value="Send" class="btn btn-primary">
                        </p>
                        <div th:if="${message != null}"></div>
                        <p class="text-success" style="position: relative;">[[${message}]]</p>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <a href="#" th:href="@{/forgotten_password}">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>