<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Smart Garage</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/apple-touch-icon.png" th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css"
        th:href="@{/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css"
        th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css"
        th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
        th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css"
        th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css"
        th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css"
        th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css"
        th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" th:href="@{/assets/css/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Selecao - v4.1.0
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/" th:text="#{navigation.home}">Smart Garage</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#" th:if="${isAdmin}" th:href="@{/visits}"
                 th:text="#{navigation.visits}">Visits</a></li>
          <li><a href="#" th:if="${isAdmin}" th:href="@{/procedures}"
                 th:text="#{navigation.procedures}">Procedures</a></li>
          <li><a href="#" th:href="@{/users}" th:if="${isAdmin}" th:text="#{navigation.users}">Users</a></li>
          <li><a href="#" th:if="${isAdmin}" th:href="@{/cars}" th:text="#{navigation.cars}">Cars</a></li>
          <li><a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/login}"
                 th:text="#{navigation.login}">Log in</a></li>
          <li><a href="#" th:if="${isAdmin}" th:href="@{/users/new}" th:text="#{navigation.register}">Register</a></li>
          <li><a href="#" th:if="${isAuthenticated}" th:href="@{/users/profile}" th:text="#{navigation.profile}">Profile</a></li>
          <li><a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}" th:text="#{navigation.logout}">Log out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown" th:text="#{home.welcome}">Welcome to Smart Garage</h2>
          <p class="animate__animated fanimate__adeInUp" th:text="#{home.secondary}">Secondary message</p>
        </div>
      </div>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Who we are</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              We aim to provide the best experience at affordable prices.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Our technicians are hand-picked professionals.</li>
              <li><i class="ri-check-double-line"></i> Our range of services goes from simple maintenance to
                complex repairs</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Services</h2>
          <p>What we provide</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="assets/img/team/oil-change.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Oil Change</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/filter-change.png" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Filters Change</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/tyres-change.png" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Tyres Change</h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/car-checkup.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Check-Up</h4>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Smart Garage</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>