<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form th:fragment="procedure-form" id="contactForm" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${procedure}"
      method="post">

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{procedure.label.name_clean}">Name</h2>
            <input class="form-control" id="name" type="text" th:field="*{name}"
                   placeholder="Enter Name Here" required="required"
                   data-validation-required-message="Please enter Name."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{name}">Name error placeholder</h6>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{procedure.label.price_clean}">Price</h2>
            <input class="form-control" id="price" type="text" th:field="*{price}"
                   placeholder="Enter Price Here" required="required"
                   data-validation-required-message="Please enter Price."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{price}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <br/>
    <div id="success"></div>
    <div class="form-group">
        <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button>
    </div>
</form>
</body>
</html>