<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>All Visits</title>

    <link href="assets/css/table_styles.css" th:href="@{/assets/css/table_styles.css}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/contact_styles.css" th:href="@{/assets/css/contact_styles.css}" rel="stylesheet"/>

</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:text="#{navigation.home}">Home</a>
</nav>

<div class="card mb-4">
    <div class="card-body">
        DataTables is a third party plugin that is used to generate the demo table below. For more information about
        DataTables, please visit the
        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>

    </div>
</div>
<div class="card mb-4">
    <div th:if="${users.isEmpty()}">
        <div class="card-header">
            <h2 th:text="#{user.title.empty}">No User</h2>
        </div>
    </div>

    <div th:unless="${users.isEmpty()}">
        <div class="card-header">
            <h2 th:text="#{user.title}">All Users</h2>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th th:text="#{user.label.name_clean}">Name</th>
                    <th th:text="#{user.label.email_clean}">Email</th>
                    <th th:text="#{user.label.phone_clean}">Phone</th>

                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th th:text="#{user.label.name_clean}">Name</th>
                    <th th:text="#{user.label.email_clean}">Email</th>
                    <th th:text="#{user.label.phone_clean}">Phone</th>

                </tr>
                </tfoot>
                <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <a href="#" th:href="@{/users/{id}(id=${user.getId()})}"
                           th:text="${user.getFullName()}">User Full Name</a>
                    </td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.phone}">Phone</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>
