<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="assets/css/custom_dropdown.css" th:href="@{/assets/css/custom_dropdown.css}" rel="stylesheet"/>

</head>
<body>
<form th:fragment="visit-new-for-new-user-form" id="contactForm" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${visit}"
      method="post">

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{user.label.first.name_clean}">First Name</h2>
            <input class="form-control" id="firstName" type="text" th:field="*{userDto.firstName}"
                   placeholder="Enter First Name Here" required="required"
                   data-validation-required-message="Please enter First Name."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{userDto.firstName}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{user.label.last.name_clean}">Last Name</h2>
            <input class="form-control" id="lastName" type="text" th:field="*{userDto.lastName}"
                   placeholder="Enter Last Name Here" required="required"
                   data-validation-required-message="Please enter Last Name."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{userDto.lastName}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{user.label.email_clean}">Email</h2>
            <input class="form-control" id="email" type="email" th:field="*{userDto.email}"
                   placeholder="Enter Email Here" required="required"
                   data-validation-required-message="Please enter Email."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{userDto.email}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{user.label.phone_clean}">Phone</h2>
            <input class="form-control" id="phone" type="text" th:field="*{userDto.phone}"
                   placeholder="Enter Phone Here" required="required"
                   data-validation-required-message="Please enter Phone."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{userDto.phone}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{car.label.vin_clean}">Vin</h2>
            <input class="form-control" id="vin" type="text" th:field="*{vin}"
                   placeholder="Enter Vin Here" required="required"
                   data-validation-required-message="Please enter Vin."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{vin}">Name error placeholder</h6>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{car.label.registration_clean}">Registration</h2>
            <input class="form-control" id="registration" type="text" th:field="*{regNumber}"
                   placeholder="Enter Registration Number Here" required="required"
                   data-validation-required-message="Please enter Registration Number."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{regNumber}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{car.label.model_clean}">Model</h2>
            <input class="form-control" id="model" type="text" th:field="*{model}"
                   placeholder="Enter Model Here" required="required"
                   data-validation-required-message="Please enter Model."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{model}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{car.label.manufacturer_clean}">Manufacturer</h2>
            <input class="form-control" id="manufacturer" type="text" th:field="*{manufacturer}"
                   placeholder="Enter Manufacturer Here" required="required"
                   data-validation-required-message="Please enter Manufacturer."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{manufacturer}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{visit.label.procedures_clean}">Procedures</h2>
            <th:block th:each="procedure : ${procedures}">
                <input type="checkbox" name="procedure" th:field="*{procedures}"
                       th:text="${procedure.name}" th:value="${procedure.name}"/>
                <br/>
            </th:block>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{procedures}">Name error placeholder</h6>
        </div>
    </div>

    <!--    <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <h2 th:text="#{visit.label.procedures_clean}">Procedures</h2>
                <input class="form-control" id="procedures" type="text" th:field="*{procedures}"
                       placeholder="Enter Procedures Here" required="required"
                       data-validation-required-message="Please enter Procedures."/>
                <p class="help-block text-danger"></p>
                <h6 class="error" th:errors="*{procedures}">Name error placeholder</h6>
            </div>
        </div>-->

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{visit.label.end-date_clean}">End Date</h2>
            <input class="form-control" id="endDate" type="text" th:field="*{endDate}"
                   placeholder="Enter End Date Here" required="required"
                   data-validation-required-message="Please enter End Date."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{endDate}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <br/>
    <div id="success"></div>
    <div class="form-group">
        <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button>
    </div>
</form>
</body>
</html>