<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>All Visits</title>

    <link href="assets/css/table_styles.css" th:href="@{/assets/css/table_styles.css}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/contact_styles.css" th:href="@{/assets/css/contact_styles.css}" rel="stylesheet"/>

</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:text="#{navigation.home}">Home</a>
    <li style="position: relative; right: -900px;">
        <a href="#" th:href="@{/visits/new}" th:text="#{navigation.create}">
            Create visit
        </a>
    </li>
    <li style="position: relative; right: -900px;">
        <a href="#" th:href="@{/visits/new-for-new-user}" th:text="#{navigation.create-for-new-user}">
            Create visit for new user
        </a>
    </li>
</nav>

<div class="card mb-4">
    <div class="card-body">
        DataTables is a third party plugin that is used to generate the demo table below. For more information about
        DataTables, please visit the
        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
        .
    </div>
</div>
<div class="card mb-4">
    <div th:if="${visits.isEmpty()}">
        <div class="card-header">
            <h2 th:text="#{visits.title.empty}">No Visits</h2>
        </div>
    </div>

    <div th:unless="${visits.isEmpty()}">
        <div class="card-header">
            <h2 th:text="#{visits.title}">All Visits</h2>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th th:text="#{visit.label.id_clean}">Visit ID</th>
                    <th th:text="#{car.label.id_clean}">Car ID</th>
                    <th th:text="#{car.label.vin_clean}">VIN</th>
                    <th th:text="#{car.label.registration_clean}">Registration</th>
                    <th th:text="#{car.label.model_clean}">Model</th>
                    <th th:text="#{car.label.manufacturer_clean}">Manufacturer</th>
                    <th th:text="#{car.label.user_clean}">User</th>
                    <th th:text="#{visit.label.start-date_clean}">Start Date</th>
                    <th th:text="#{visit.label.end-date_clean}">End Date</th>
                    <th th:text="#{visit.label.price_clean}">Price</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th th:text="#{visit.label.id_clean}">Visit ID</th>
                    <th th:text="#{car.label.id_clean}">Car ID</th>
                    <th th:text="#{car.label.vin_clean}">VIN</th>
                    <th th:text="#{car.label.registration_clean}">Registration</th>
                    <th th:text="#{car.label.model_clean}">Model</th>
                    <th th:text="#{car.label.manufacturer_clean}">Manufacturer</th>
                    <th th:text="#{car.label.user_clean}">User</th>
                    <th th:text="#{visit.label.start-date_clean}">Start Date</th>
                    <th th:text="#{visit.label.end-date_clean}">End Date</th>
                    <th th:text="#{visit.label.price_clean}">Price</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="visit : ${visits}">
                    <td>
                        <a href="#" th:href="@{/visits/{id}(id=${visit.getId()})}"
                           th:text="${visit.id}">Visit</a>
                    </td>
                    <td>
                        <a href="#" th:href="@{/cars/{id}(id=${visit.getCar().getId()})}"
                           th:text="${visit.car.id}">Car</a>
                    </td>
                    <td th:text="${visit.car.vin}">VIN</td>
                    <td th:text="${visit.car.regNumber}">Registration</td>
                    <td th:text="${visit.car.model.name}">Model</td>
                    <td th:text="${visit.car.model.manufacturer.name}">Manufacturer</td>
                    <td th:text="${visit.car.user.getFullName()}">User</td>
                    <td th:text="${visit.startDate}">Start Date</td>
                    <td th:text="${visit.endDate}">End Date</td>
                    <td th:text="${visit.price}">Price Date</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>
