<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="assets/css/custom_dropdown.css" th:href="@{/assets/css/custom_dropdown.css}" rel="stylesheet"/>

</head>
<body>
<form th:fragment="visit-form" id="contactForm" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${visit}"
      method="post">

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{visit.label.registration_clean}">Registration</h2>
            <select class="custom-dropdown" th:field="*{carId}" th:placeholder="Car">
                <option th:each="car : ${cars}"
                        th:value="${car.getId()}"
                        th:text="${car.getRegNumber()}">
                    Car
                </option>
            </select>
            <h6 class="error" th:errors="*{carId}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{visit.label.procedures_clean}">Procedures</h2>
            <th:block th:each="procedure : ${procedures}">
                <input type="checkbox" name="procedure"  th:field="*{procedures}"
                       th:text="${procedure.name}" th:value="${procedure.name}"/>
                <br/>
            </th:block>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{procedures}">Name error placeholder</h6>
        </div>
    </div>

<!--    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{visit.label.procedures_clean}">Procedures</h2>
            <input class="form-control" id="procedures" type="text" th:field="*{procedures}"
                   placeholder="Enter Procedures Here" required="required"
                   data-validation-required-message="Please enter Procedures."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{procedures}">Name error placeholder</h6>
        </div>
    </div>-->

    <div class="control-group">
        <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <h2 th:text="#{visit.label.end-date_clean}">End Date</h2>
            <input class="form-control" id="endDate" type="date" th:field="*{endDate}"
                   placeholder="Enter End Date Here" required="required"
                   data-validation-required-message="Please enter End Date."/>
            <p class="help-block text-danger"></p>
            <h6 class="error" th:errors="*{endDate}">Name error placeholder</h6>
            <p class="help-block text-danger"></p>
        </div>
    </div>

    <br/>
    <div id="success"></div>
    <div class="form-group">
        <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button>
    </div>
</form>
</body>
</html>