<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <title>Create Visit</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/contact_styles.css" th:href="@{/assets/css/contact_styles.css}" rel="stylesheet"/>
    <link href="assets/css/custom_dropdown.css" th:href="@{/assets/css/custom_dropdown.css}" rel="stylesheet"/>

</head>

<body id="page-top">
<!-- Navigation-->

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:text="#{navigation.home}">Home</a>
    <li style="position: relative; right: -1200px;"><a href="#" th:href="@{/visits}"
                                                       th:text="#{navigation.visits}">Browse all visits</a>
    </li>
</nav>

<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"
            th:text="#{headers.create-visit}">Create Visit</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-address-card"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form th:replace="visit-form.html :: visit-form"></form>
            </div>
        </div>
    </div>
</section>

</body>
</html>