<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <title th:text="${visit.getId()}">Visit Profile</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/contact_styles.css" th:href="@{/assets/css/contact_styles.css}" rel="stylesheet"/>
    <link href="assets/css/custom_dropdown.css" th:href="@{/assets/css/custom_dropdown.css}" rel="stylesheet"/>

</head>
<body id="page-top">
<!-- Navigation-->

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:text="#{navigation.home}">Home</a>
    <li style="position: relative; right: -900px;">
        <a href="#" th:href="@{/visits/{id}/update(id=${visit.getId()})}" th:text="#{navigation.edit}">
            Edit visit
        </a>
    </li>

    <li style="position: relative; right: -950px;">
        <a href="#" th:href="@{/visits/{id}/delete(id=${visit.getId()})}" th:text="#{navigation.delete}">
            Delete visit
        </a>
    </li>

    <li style="position: relative; right: -1000px;">
        <a href="#" th:href="@{/visits}" th:text="#{navigation.visits}">
            Browse all visits
        </a>
    </li>
</nav>

<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"
            th:text="#{visit.label.id(${visit.getId()})}">Visit</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-address-card"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                <div class="control-group">
                    <div>
                        <h3 th:text="#{car.label.id(${visit.getCar().getId()})}">Car ID</h3>
                    </div>
                </div>
                <div class="divider-custom"></div>
                <div class="control-group">
                    <div>
                        <h3 th:text="#{car.label.vin(${visit.getCar().getVin()})}">VIN</h3>
                    </div>
                </div>
                <div class="divider-custom"></div>
                <div class="control-group">
                    <h3 th:text="#{car.label.registration(${visit.getCar().getRegNumber()})}">Registration</h3>
                </div>
                <div class="divider-custom"></div>
                <div class="control-group">
                    <h3 th:text="#{car.label.model(${visit.getCar().getModel().getName()})}">Model</h3>
                </div>
                <div class="divider-custom"></div>
                <div class="control-group">
                    <h3 th:text="#{car.label.manufacturer(${visit.getCar().getModel()
                    .getManufacturer().getName()})}">Manufacturer</h3>
                </div>
                <div class="divider-custom"></div>
                <div class="control-group">
                    <h3 th:text="#{car.label.user(${visit.getCar().getUser().getFullName()})}">User</h3>
                </div>
                <div class="divider-custom"></div>
                <div class="control-group">
                    <h3 th:text="#{visit.label.start-date(${visit.getStartDate()})}">Start Date</h3>
                </div>
                <div class="divider-custom"></div>
                <div class="control-group">
                    <h3 th:text="#{visit.label.end-date(${visit.getEndDate()})}">End Date</h3>
                </div>
                <div class="divider-custom"></div>
                <div class="control-group">
                    <h3 th:text="#{visit.label.price(${visit.getPrice()})}">Price</h3>
                </div>
                <br/>
            </div>
        </div>
    </div>
</section>

<div class="card mb-4">
    <div th:if="${visit.getProcedures().isEmpty()}">
        <div class="card-header">
            <h2 th:text="#{procedures.title.empty}">No Procedures</h2>
        </div>
    </div>

    <div th:unless="${visit.getProcedures().isEmpty()}">
        <div class="card-header">
            <h2 th:text="#{procedures.title}">Procedures</h2>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th th:text="#{procedure.label.id_clean}">ID</th>
                        <th th:text="#{procedure.label.name_clean}">Name</th>
                        <th th:text="#{procedure.label.price_clean}">Price</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th th:text="#{procedure.label.id_clean}">ID</th>
                        <th th:text="#{procedure.label.name_clean}">Name</th>
                        <th th:text="#{procedure.label.price_clean}">Price</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="procedure : ${visit.getProcedures()}">
                        <td>
                            <a href="#" th:href="@{/procedures/{id}(id=${procedure.getId()})}"
                               th:text="${procedure.id}">Procedure</a>
                        </td>
                        <td th:text="${procedure.name}">Name</td>
                        <td th:text="${procedure.price}">Price</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © Your Website 2020</small></div>
</div>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
            class="fa fa-chevron-up"></i></a>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
