/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; /* demo only */
}

.big {
    font-size: 1.7em;
}

.error {
    color: red;
}

.custom-dropdown {
    border: solid black;
    background-color: #fff;
    color: black;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

/*.custom-dropdown::before,*/
/*.custom-dropdown::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    pointer-events: none;*/
/*}*/

/*.custom-dropdown::after { !*  Custom dropdown arrow *!*/
/*    content: "\25BC";*/
/*    height: 1em;*/
/*    font-size: .625em;*/
/*    line-height: 1;*/
/*    right: 1.2em;*/
/*    top: 50%;*/
/*    margin-top: -.5em;*/
/*}*/

/*.custom-dropdown::before { !*  Custom dropdown arrow cover *!*/
/*    width: 2em;*/
/*    right: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    border-radius: 0 3px 3px 0;*/
/*}*/

.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}